In [1]:
#import sqlite package
import sqlite3

In [2]:
#create connection
connection=sqlite3.connect("classroomDB.db")
connection.close()

In [4]:
connection=sqlite3.connect("classroomDB.db")
cursor= connection.cursor()
create_table = """
                CREATE TABLE class_room(
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemist_marks INTEGER,
                math_marks INTEGER
                );"""
cursor.execute(create_table)
#close connection
connection.commit()
#close connection
connection.close()

In [5]:
#insert data
class_room=[(1,"james","M",20,49,65),
            (2,"Mary","F",20,49,65),
            (3,"George","M",20,49,65),
            (4,"John","M",20,49,65)
]
#connect to the database
connection=sqlite3.connect("classroomDB.db")

cursor= connection.cursor()

for student in class_room:
    insert_query="""
                 INSERT INTO class_room
                 (student_id,name,gender,physics_marks,chemist_marks,math_marks)
                 VALUES
                 ({0},"{1}","{2}",{3},{4},{5})""".format(student[0],student[1],student[2],
                                                         student[3],student[4],student[5])
    cursor.execute(insert_query)

connection.commit()
#close connection
connection.close()

In [7]:
connection=sqlite3.connect("classroomDB.db")
cursor= connection.cursor()

query="""SELECT * FROM class_room"""

cursor.execute(query)
result=cursor.fetchall()

for row in result:
    print(row)
connection.close()

(1, 'james', 'M', 20, 49, 65)
(2, 'Mary', 'F', 20, 49, 65)
(3, 'George', 'M', 20, 49, 65)
(4, 'John', 'M', 20, 49, 65)